*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("fonts/CormorantGaramond-Light.ttf");
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

/*Inicio del documento predeterminado*/
.inicio{
  width: 100%;
  height: 100vh;
  background-image: url(../images/queen-musicians.jpg);
  padding: 16px 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.inicio .texto-portada{
  margin-top: 300px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
.inicio .texto-portada h1{
  font-size: 10vh;
  font-weight: 100;
  letter-spacing: 8px;
  margin-bottom: 40px;
  color: #efb810; 
}
.inicio .texto-portada h2{
  font-size: 25px;
  font-weight: 100;
  color: #c39717;
}

/*Inico de estilo del botón*/
.inicio .texto-portada .button .button1{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: white;
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.inicio .texto-portada .button .button1:hover{
  background-color: #ffda95;
  box-shadow: 
    0 0 10px #ffda95, 0 0 40px #ffda95,
    0 0 80px #ffda95;
  opacity: 75%;
  transition-delay: 1s;
}
.inicio .texto-portada .button .button1 span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#ffda95);
}
.inicio .texto-portada .button .button1:hover #span1{
  left: 100%;
  transition: 1s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#ffda95);
}
.inicio .texto-portada .button .button1:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#ffda95);
}
.inicio .texto-portada .button .button1:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.50s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#ffda95);
}
.inicio .texto-portada .button .button1:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*Fin de estilo del botón*/  

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  list-style: none;
}
nav .nav-menu { 
  width: 100%;
  height: 0vh;
  position: absolute;
  top: 85px;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%)
}
nav .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0px;
  transition: all 0.5s;
}
nav .nav-menu li a { 
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

/*Inicio del body del documento predeterminado*/
body{
  background-color: #363636; /* #fff;*/
  color: white;
}
.titulo-principal{
  font-size: 30px;
  font-weight: 200px;
  letter-spacing: 8px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.titulo-principal span{
  color: #c39717;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 4px;
}
/*Fin del body del documento predeterminado*/
@media (min-width: 768px){
  .inicio .texto-portada h1 {
    font-size: 8vh;  
  }
  .inicio .texto-portada h2 {
    font-size: 30px;
  }
  .inicio .texto-portada .button .button1{
    font-size: 25px;  
  } 
  nav .logo-de-la-banda {
    height: 8vh;
    margin-left: 5px;
    margin-top: 20px;
  }
  nav .logo-de-la-banda:hover {
    height: 10vh;
    transition: 0.3s;
    /*filter: drop-shadow(2px 2px 2px  );*/
  }
  nav .nav-menu {
    top: 0px;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
    transition: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }
  nav .nav-menu li a {
    font-size: 16px;
    transition: font-size 0.3s;
  }
  nav .nav-menu li a:hover {
    color: #efb810;
    font-size: 20px;
    transition: 0.3s;
  }
  nav .nav-menu li a.active {
    color: #efb810;
    /*font-weight: 800;*/
    letter-spacing: 4px;
    transition: 0.3s;
  } 
}
@media (min-width: 1200px){
  nav {
    position: sticky;
    top: 0;
  }
  nav .logo-de-la-banda {
    height: 10vh;
    margin-left: 5px;
    margin-top: 20px;
  }
  nav .logo-de-la-banda:hover {
    height: 12vh;
    transition: 0.3s;
    /*filter: drop-shadow(2px 2px 2px  );*/
  }
}

/*Fin del documento predeterminado*/



/*inicio estilos en común entre los documentos La banda de rock, Música, Live Aid, Contacto*/
.inicio-paginas {
  width: 100%;
  height: 50vh;
  padding: 16px 0;
  background-image: url(../images/queen-banner1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.texto-portada-paginas {
  margin-top: 155px;
  text-align: center;
  box-sizing: border-box;
}
.texto-portada-paginas h1 {
  font-weight: 500;
  font-size: 35px;
  color: #c39717;
}
/*Fin de estilo en común entre las páginas historia, la banda, música y live aid*/




/*Inicio footer*/
footer {
  background-color: #000000f5;
  padding: 10px 0;
}
footer .social {
  text-align: center;
  padding-bottom: 25px;
}
footer .social a {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 20px;
  opacity: 0.65;
}
footer .social a:hover {
  opacity: 1;
}
/*Fin footer*/

/*Inicio doc html de contacto*/
.contacto {
  display: flex;
  gap: 24px;
}
.contacto div {
  width: 100%;
}
.datos p {
  font-size: 16px;
}
.datos ul li {
  font-size: 14px;
}
.formulario p {
  display: flex;
}
.formulario p label {
  min-width: 80px;
  display: flex;
  align-items: center;
  /*background-color: aquamarine;*/
}
.formulario p input,
.formulario p textarea {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 6px 10px;
}
.formulario p:nth-child(4) {
  align-items: start;
}
.formulario textarea {
  resize: none;
  height: 150px;
}
.formulario input[type="submit"] {
  background:#efb810; 
  color: #363636;
  font-size: 16px;
  padding: 6px 10px;
  width: auto;
  position: relative;
  left: 5rem;
  cursor: pointer;
} 
.formulario input[type="submit"]:hover {
  background-color: black;
  color: #fff;
} 

/*Fin doc html de contacto*/